.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.label {
  display: block;
  color: #10182899; /* Soluk gri */
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 44px; /* İkon için soldan boşluk */
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #101828;
  outline: none;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #E44848; /* Focus olunca kırmızı çerçeve */
}

/* Konum İkonu Simülasyonu */
.icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #6C717B;
  font-size: 18px;
}

.filterGroupTitle {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 24px;
  border-bottom: 1px solid #1018281A;
  padding-bottom: 24px;
}

.filterSubtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.filterGrid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.active {
  border-color: #E44848;
  background-color: #FFF4F4;
}

.filterCard {
  width: 100px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #10182833;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.filterCard:hover {
  border-color: #E44848;
}

.filterCard.active {
  border-color: #E44848;
  background-color: #fff4f4; 
}

.searchBtn {
  margin-top: 20px;
  width: 160px;
  padding: 16px;
  background-color: #E44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBtn:hover {
  background-color: #D84343;
}

